{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}

{% block page_title %}Order{% endblock page_title %}

{% block content %}
    <form class="ajax-form uk-form uk-form-horizontal" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.name) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans }}</label>
            {{ form_widget(form.description) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.price.vars.id }}">{{ form.price.vars.label|trans }}</label>
            {{ form_widget(form.price) }}
        </div>


        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.quantity.vars.id }}">{{ form.quantity.vars.label|trans }}</label>
            {{ form_widget(form.quantity) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.category.vars.id }}">{{ form.category.vars.label|trans }}</label>
            {{ form_widget(form.category) }}
        </div>

        <div id="productSets" data-prototype="{{ form_widget(form.productSets.vars.prototype)|e }}">
            <input type="hidden" class="cnt" value="{{ form.productSets|length }}"/>
            {% for productSet in form.productSets %}
                <div class="tm-panel-border">
                    <span class='delete-btn'>X</span>
                    {{ form_widget(productSet.name) }}
                    <div id="options" class="uk-margin-large-bottom">
                    </div>

                    <div id="product2Options" data-prototype="{{ form_widget(productSet.product2Options.vars.prototype)|e }}">
                        <input type="hidden" class="cnt" value="{{ productSet.product2Options|length }}"/>
                        <div class="tm-panel-border">
                            {{ form_widget(productSet.product2Options) }}
                            {% for product2Option in  productSet.product2Options %}
                                <div id="option">
                                    {{ form_widget(product2Option) }}
                                    {#{{ dump(product2Option.option) }}#}
                                </div>
                            {% endfor %}

                            <div id="optionValue">

                            </div>


                        </div>
                    </div>
                    {#{{ dump(productSet) }}#}
                    {#<div id="optionValues" data-prototype="{{ form_widget(productSet.product2Options.option.optionValues.vars.prototype)|e }}">#}
                        {#<input type="hidden" class="cnt" value="{{ productSet.product2Options.option.optionValues|length }}"/>#}
                        {#<div class="tm-panel-border">#}

                        {#</div>#}
                    {#</div>#}
                    <div class="uk-form-row ">
                        <a class="addProduct2Options button button-success" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a>
                    </div>
                </div>
            {% endfor %}
            {#<div class="uk-form-row ">#}
                {#<a class="button button-success" href="#" id="addProductOptionValues"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a>#}
            {#</div>#}
        </div>
        <br>
        <br>
        <br>
        <div class="uk-form-row ">
            <a class="button button-success" href="#" id="addProductSet"><i class="uk-icon-plus"></i> {{ 'button.add_product_set'|trans }}</a>
        </div>

        <div>
            {{ form_row(form._token) }}
        </div>


        <button class="uk-button uk-button-primary uk-align-right" type="submit">
            <i class="uk-icon-check"></i>
            {{ 'button.save'|trans }}
        </button>
    </form>
{% endblock content  %}

{% block bottom_script %}
    <script>
        $(document).ready(function(){
            var delLink = function (e) {
//                var links = $('#options');
                $(e.target).parent('div').remove();
//            saveField(links);
            },
              valuesCount;
            $('.delete-btn').click(function(e){
                delLink(e);
            });
//            $('#addOptionValue').click(function (e) {
//                e.preventDefault();
//                valuesCount = $(e.target).closest('.wrap').find('input.cnt').val()*1;
//                var optionList = $('#options'),
//                    newWidget = optionList.attr('data-prototype');
//                newWidget = newWidget.replace(/__name__/g, valuesCount);
//                valuesCount++;
//                console.log(newWidget);
//                var newDiv = $(newWidget).prepend("<span class='delete-location-btn uk-close uk-close-alt'>X</span>");
//                console.log(newWidget);
//                newDiv.addClass('tm-panel-border');
//                newDiv.appendTo(optionList);
//                $(optionList).find('.delete-location-btn').click(delLink);
////            $.each($('.ajax-form'), function () {
////                AjaxForm.init(this)
////            });
//            });
//            $('.delete-location-btn').on('click', delLink);


            $('#addProductSet').click(function (e) {
                e.preventDefault();
                valuesCount = $('#productSets').find('input.cnt').val()*1;
                var productSetList = $('#productSets'),
                    newWidget = productSetList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(productSetList);
                $(productSetList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//                if (!is_array($data) && !($data instanceof \Traversable && $data instanceof \ArrayAccess)) {
//            });
            });
            $('.addProduct2Options').click(function (e) {
                e.preventDefault();
                valuesCount = parseInt($(e.target).parent().siblings('#product2Options').find('input.cnt').val());
                var product2OptionList = $(e.target).parent().siblings('#product2Options'),
                    newWidget = product2OptionList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(product2OptionList);
                $(product2OptionList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//                if (!is_array($data) && !($data instanceof \Traversable && $data instanceof \ArrayAccess)) {
//            });
            });

        });

//        $.each($('.ajax-form'), function () { AjaxForm.init(this) });
    </script>
{% endblock bottom_script %}