{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}

{% block page_title %}Order{% endblock page_title %}

{% block content %}
    <form class="ajax-form uk-form uk-form-horizontal" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.name) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans }}</label>
            {{ form_widget(form.description) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.price.vars.id }}">{{ form.price.vars.label|trans }}</label>
            {{ form_widget(form.price) }}
        </div>


        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.quantity.vars.id }}">{{ form.quantity.vars.label|trans }}</label>
            {{ form_widget(form.quantity) }}
        </div>

        <div class="uk-margin-bottom block-categories">
            <label class="uk-form-label" for="{{ form.category.vars.id }}">{{ form.category.vars.label|trans }}</label>
            {{ form_widget(form.category) }}
        </div>

        {% if form.productSets is defined %}
            <div id="product_sets_block">
                <div id="productSets" data-prototype="{{ form_widget(form.productSets.vars.prototype)|e }}">
                    {#{{ dump(form.productSets) }}#}
                    {% for productSet in form.productSets %}
                        {#{{ dump(productSet) }}#}
                        <div class="tm-panel-border">
                            <span class='delete-btn'>X</span>
                            {{ form_widget(productSet.name) }}
                            {#{% if productSet.product2Options is defined %}#}
                                <div class="product-2-options" data-prototype="{{ form_widget(productSet.product2Options.vars.prototype)|e }}">
                                    <input type="hidden" class="cnt" value="{{ productSet.product2Options|length }}"/>
                                    <div class="tm-panel-border">
                                        {{ form_widget(productSet.product2Options) }}
                                        {% for product2Option in productSet.product2Options %}
                                            <div id="option">
                                                {{ form_widget(product2Option.option) }}
                                                <div id="optionValues">
                                                    {{ form_widget(product2Option.optionValue) }}
                                                </div>
                                                <br>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <br>
                                <div class="uk-form-row">
                                    <a class="addProduct2Options button button-success" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a>
                                </div>
                            {#{% endif %}#}
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="uk-form-row ">
                    <a class="button button-success" href="#" id="addProductSet"><i class="uk-icon-plus"></i> {{ 'button.add_product_set'|trans }}</a>
                </div>
            </div>
        {% endif %}

        <div>
            {{ form_row(form._token) }}
        </div>


        <button class="uk-button uk-button-primary uk-align-right" type="submit">
            <i class="uk-icon-check"></i>
            {{ 'button.save'|trans }}
        </button>
    </form>
{% endblock content  %}

{% block bottom_script %}
    <script>
            var delLink = function (e) {
                $(e.target).parent('div').remove();
//            saveField(links);
            };
            var valuesCount;
            var prodSetCount = {% if form.productSets is defined %}{{ form.productSets|length }}{% else %}{{ 0 }}{% endif %};
            var addOption = function(e){
                var form = $(this).closest('form'),
                        data = {"update": true};
                data[$(this).attr('name')] = $(this).val();
                console.log(data);
                $.ajax({
                    url    : form.attr('action'),
                    type   : form.attr('method'),
                    data   : data,
                    success: function (html) {
//                        $('.block-categories').after($(html).find('#product_sets_block'));
//                        $('#addProductSet').click(addProductSet);
//                        $('.addProduct2Options button').click(addProduct2Option);
                    }
                });
            };


            $('.delete-btn').click(function(e){
                delLink(e);
            });
            valuesCount=0;
            var addProduct2Option = function (e) {
                e.preventDefault();
                var blockDiv = $(e.target).parent().parent();
//                console.log(blockDiv);
//                var valuesCountInput = blockDiv.find('input.cnt');
//                if(!valuesCountInput.length){
////                    blockDiv.append('<input type="hidden" class="cnt" value="0"/>')
//                    valuesCount = 0;
//                } else {
//                    valuesCount = parseInt(blockDiv.find('input.cnt').val());
//                }

                var product2OptionList = $(e.target).parent().parent().find('.product-2-options'),
                    newWidget = product2OptionList.attr('data-prototype');
                newWidget = newWidget.replace(/__prod_set__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(product2OptionList);
                $(product2OptionList).find('.delete-btn').click(delLink);
                $('.option-select').change(addOption)
            };

            var addProductSet = function (e) {
                e.preventDefault();
                var productSetList = $('#productSets'),
                    newWidget = productSetList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, prodSetCount);
                prodSetCount++;
                var newDiv = $(newWidget).prepend('<span class="delete-btn">X</span><br><div class="uk-form-row"><a class="addProduct2Options button button-success" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a> </div>');
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(productSetList);
                var optionId = newDiv.attr('id')+'_product2Options';
                {#$('#'+optionId).prepend(#}
                        {#'<br><div class="uk-form-row"><a class="addProduct2Options button button-success" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a> </div>'#}
                {#);#}
                $(productSetList).find('.delete-btn').click(delLink);
                $('.addProduct2Options').click(addProduct2Option);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//            });
            };
            $('#addProductSet').click(addProductSet);

            $('.addProduct2Options').click(addProduct2Option);

            $('.addOptionValues').click(function (e) {
                e.preventDefault();
                valuesCount = parseInt($(e.target).parent().siblings('#product2Options').find('input.cnt').val());
                var product2OptionList = $(e.target).parent().siblings('#product2Options'),
                    newWidget = product2OptionList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(product2OptionList);
                $(product2OptionList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//            });
            });

            $('#{{ form.category.vars.id }}').change(function(){
                var form = $(this).closest('form'),
                        data = {"update": true};
                data[$(this).attr('name')] = $(this).val();

                $.ajax({
                    url    : form.attr('action'),
                    type   : form.attr('method'),
                    data   : data,
                    success: function (html) {
                        $('.block-categories').after($(html).find('#product_sets_block'));
                        $('#addProductSet').click(addProductSet);
                        $('.addProduct2Options button').click(addProduct2Option);
                    }
                });
            });




//        $.each($('.ajax-form'), function () { AjaxForm.init(this) });
    </script>
{% endblock bottom_script %}