{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}

{% block page_title %}Order{% endblock page_title %}

{% block content %}
    <form class="form ajax-form" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label"
                   for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label"
                   for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans }}</label>
            {{ form_widget(form.description) }}
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label"
                   for="{{ form.price.vars.id }}">{{ form.price.vars.label|trans }}</label>
            {{ form_widget(form.price) }}
        </div>


        <div class="form-group row">
            <label class="col-xs-2 col-form-label"
                   for="{{ form.quantity.vars.id }}">{{ form.quantity.vars.label|trans }}</label>
            {{ form_widget(form.quantity) }}
        </div>

        <div class="form-group row block-categories">
            {#<label class="col-xs-2 col-form-label" for="{{ form.category.vars.id }}">{{ form.category.vars.label|trans }}</label>#}
            {{ form_row(form.category) }}
        </div>

        {% if form.brand is defined %}
            <div class="form-group row block-brand">
                {#<label class="col-xs-2 col-form-label" for="{{ form.brand.vars.id }}">{{ form.brand.vars.label|trans }}</label>#}
                {{ form_row(form.brand) }}
            </div>
        {% endif %}


        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sets2product">Product Sets</a></li>
            <li><a data-toggle="tab" href="#attributes2product">Product Attributes</a></li>
        </ul>

        <div class="tab-content">
            <div id="sets2product" class="tab-pane fade in active">
                {% if form.productSets is defined %}
                    <div id="product_sets_block" class="jumbotron">
                        <div id="productSets" data-prototype="{{ form_widget(form.productSets.vars.prototype)|e }}">
                            {% for productSet in form.productSets %}
                                <div id="{{ productSet.vars.id }}" class="tm-panel-border panel panel-default">
                                    <button class='btn btn-danger delete-btn'>X remove set</button>
                                    <div class="panel-body">
                                        {{ form_row(productSet.name) }}
                                        {{ form_row(productSet.quantity) }}
                                        <div class="product-2-options tm-panel-border" data-prototype="{{ form_widget(productSet.product2Options.vars.prototype)|e }}">
                                            {% for product2Option in productSet.product2Options %}
                                                <div id="option" class="tm-panel-border">
                                                    <button class="btn btn-danger delete-btn">X</button>
                                                    <br>
                                                    <div id="{{ product2Option.vars.id }}">
                                                        {{ form_row(product2Option.option) }}
                                                        <div id="optionValues">
                                                            {{ form_row(product2Option.optionValue) }}
                                                            {{ form_row(product2Option.price) }}
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <a class="btn btn-success addProduct2Options" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <div class="uk-form-row">
                            <a class="btn btn-success" href="#" id="addProductSet"><i class="uk-icon-plus"></i> {{ 'button.add_product_set'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="attributes2product" class="tab-pane fade">
                {% if form.product2Attributes is defined %}
                    <div id="product_attributes_block" class="jumbotron" data-prototype="{{ form_widget(form.product2Attributes.vars.prototype)|e }}">
                        {% if form.product2Attributes is not empty %}
                            {% for product2Attribute in form.product2Attributes %}
                                <div id="{{ product2Attribute.vars.id }}" data-test class="tm-panel-border panel panel-default">
                                    <button class="btn btn-danger delete-btn">X</button>
                                    <br>
                                    <div class="panel-body">
                                        <div class="product-2-attributes tm-panel-border">
                                            <div id="attribute" class="tm-panel-border">
                                                <div data-block-id="{{ product2Attribute.vars.id }}">
                                                    {{ form_row(product2Attribute.attribute) }}
                                                    <div id="attributeValues">
                                                        {{ form_row(product2Attribute.attributeValue) }}
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <div class="uk-form-row">
                            <a class="btn btn-success addProduct2Attributes" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_attributes'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div>{{ form_row(form._token) }}</div>

        <button class="btn btn-primary uk-align-right" type="submit">
            <i class="uk-icon-check"></i>
            {{ 'button.save'|trans }}
        </button>
    </form>
{% endblock content %}

{% block bottom_script %}
    <script>
        var delLink = function (e) {
            $(e.target).parent('div').remove();
        };
        var valuesCount;
        var prodSetCount = {% if form.productSets is defined %}{{ form.productSets|length }}{% else %}{{ 0 }}{% endif %};
        var prod2AttrCount = {% if form.product2Attributes is defined %}{{ form.product2Attributes|length }}{% else %}{{ 0 }}{% endif %};
        var addOption = function (e) {
            var form = $(this).closest('form'),
                data = {"update": true},
                attrName = $(this).attr('name');
            data[$(this).attr('name')] = $(this).val();
            data[$('#lokos_shop_product_category').find('select').attr('name')] = $('#lokos_shop_product_category').find('select').val();
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                success: function (html) {
                    var id = attrName.replace(/\[|\]/g, '\_');
                    id = id.replace(/\_\_/g, '\_');
                    if (id[id.length - 1] == '_') {
                        id = id.slice(0, -8);
                    }
                    var optionId = id + '_optionValue';
                    var div = $(html).find('#' + optionId).parent().parent().parent();
                    div.find('.option-select').parent().remove();
                    var optionSelect = $('#' + id);
                    optionSelect.nextAll('div').remove();
                    optionSelect.parent().append(div);
                    optionSelect.parent().find('.delete-btn').click(delLink);
                }
            });
        };
        var addAttributeValue = function(e){
            var form = $(this).closest('form'),
                data = {"update": true},
                attrName = $(this).attr('name'),
                id = attrName.replace(/\[|\]/g, '\_');
            id = id.replace(/\_\_/g, '\_');
            var attrId = (id[id.length-1] == '_')?id.slice(0,-1):id,
                blockId = attrId.substr(0, id.indexOf('_attribute'));
            data[$(this).attr('name')] = $(this).val();
            data[$('#lokos_shop_product_category').find('select').attr('name')] = $('#lokos_shop_product_category').find('select').val();
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                success: function (html) {
                    $('#' + blockId).replaceWith($(html).find('#'+ blockId));
                    var blockAttr = $('#' + blockId);
                    blockAttr.find('.delete-btn').click(delLink);
                    blockAttr.find('#'+attrId).find('.option-select').change(addAttributeValue);
                }
            });
        };

        $('.delete-btn').click(function (e) {
            delLink(e);
        });
        valuesCount = 0;
        var addProduct2Option = function (e) {
            e.preventDefault();
            var blockDiv = $(e.target).parent().parent();
            var cnt = blockDiv.find('.option-select').length;
            valuesCount = cnt?cnt:0;
            var product2OptionList = $(e.target).parent().parent().find('.product-2-options'),
                newWidget = product2OptionList.attr('data-prototype');
            newWidget = newWidget.replace(/__prod_set__/g, valuesCount);
            valuesCount++;
            var newDiv = $(newWidget).prepend("<button class='btn btn-danger delete-btn'>X</button>");
            newDiv.addClass('tm-panel-border');
            newDiv.find('.delete-btn').siblings('label').remove();
            newDiv.appendTo(product2OptionList);
            $(product2OptionList).find('.delete-btn').click(delLink);
            $('.option-select').change(addOption)
        };

        var addProduct2Attribute = function (e) {
            e.preventDefault();
            var wrapDiv = $(e.target).closest('#product_attributes_block');
            var newWidget = wrapDiv.attr('data-prototype').replace(/__name__/g, prod2AttrCount);
            prod2AttrCount++;
            wrapDiv.append(newWidget);
            wrapDiv.find('.option-select').change(addAttributeValue);
        };

        var addProductSet = function (e) {
            e.preventDefault();
            var productSetList = $('#productSets'),
                newWidget = productSetList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, prodSetCount);
            prodSetCount++;
            var newDiv = $(newWidget).addClass('panel panel-default'),
                body = $('<div />',{"class": "panel-body"});
            body = body.html(newDiv.html());
            newDiv.html(body);
            newDiv.prepend('<button class="btn btn-danger delete-btn">X Remove Set</button>');
            newDiv.append('<div><a class="addProduct2Options btn btn-success" href="#"><i class="uk-icon-plus"></i>{{ 'button.add_product_2_options'|trans }}</a></div>')
            newDiv.find('div.product-2-options').siblings('label').remove();
            newDiv.appendTo(productSetList);
            newDiv.find('.addProduct2Options').click(addProduct2Option).trigger('click');
            $(productSetList).find('.delete-btn').click(delLink);
        };
        $('#addProductSet').click(addProductSet);

        $('.addProduct2Options').click(addProduct2Option);

        $('.addOptionValues').click(function (e) {
            e.preventDefault();
            valuesCount = parseInt($(e.target).parent().siblings('#product2Options').find('input.cnt').val());
            var product2OptionList = $(e.target).parent().siblings('#product2Options'),
                newWidget = product2OptionList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, valuesCount);
            valuesCount++;
            var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
            newDiv.addClass('tm-panel-border');
            newDiv.appendTo(product2OptionList);
            $(product2OptionList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//            });
        });

        $('#{{ form.category.vars.id }}').change(function () {
            var form = $(this).closest('form'),
                    data = {"update": true};
            data[$(this).find('select').attr('name')] = $(this).find('select').val();

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                success: function (html) {
                    $('.block-brand').remove();
                    $('#sets2product').empty();
                    $('#sets2product').append($(html).find('#product_sets_block'));
                    $('.block-categories').after($(html).find('.block-brand'));
                    $('#addProductSet').click(addProductSet);
                    $('.addProduct2Options').click(addProduct2Option);

                    $('#attibutes2product').empty();
                    $('#attibutes2product').append($(html).find('#product_attributes_block'));
                    $('.addProduct2Attributes').click(addProduct2Attribute);
                }
            });
        });

        $('.addProduct2Attributes').click(addProduct2Attribute);

        $.each($('.ajax-form'), function () {
            AjaxForm.init(this)
        });
    </script>
{% endblock bottom_script %}