{% trans_default_domain 'general' %}
{% extends 'LokosShopBundle::admin.layout.html.twig' %}

{% block page_title %}Order{% endblock page_title %}

{% block content %}
    <form class="ajax-form uk-form uk-form-horizontal" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.name) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans }}</label>
            {{ form_widget(form.description) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.price.vars.id }}">{{ form.price.vars.label|trans }}</label>
            {{ form_widget(form.price) }}
        </div>


        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.quantity.vars.id }}">{{ form.quantity.vars.label|trans }}</label>
            {{ form_widget(form.quantity) }}
        </div>

        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.category.vars.id }}">{{ form.category.vars.label|trans }}</label>
            {{ form_widget(form.category) }}
        </div>

        {% if form.productSets is defined %}
            <div id="productSets" data-prototype="{{ form_widget(form.productSets.vars.prototype)|e }}">
                <input type="hidden" class="cnt" value="{{ form.productSets|length }}"/>
                {#{{ dump(form.productSets) }}#}
                {% for productSet in form.productSets %}
                    {#{{ dump(productSet) }}#}

                    <div class="tm-panel-border">
                        <span class='delete-btn'>X</span>
                        {{ form_widget(productSet.name) }}
                        <div id="options" class="uk-margin-large-bottom">
                        </div>

                        {% if productSet.product2Options is defined %}
                            <div id="product2Options" data-prototype="{{ form_widget(productSet.product2Options.vars.prototype)|e }}">
                                <input type="hidden" class="cnt" value="{{ productSet.product2Options|length }}"/>
                                <div class="tm-panel-border">
                                    {#{{ dump(productSet.product2Options) }}#}
                                    {{ form_widget(productSet.product2Options) }}
                                    {% for product2Option in  productSet.product2Options %}
                                        {#{{ dump(product2Option) }}#}
                                        <div id="option">
                                            {{ form_widget(product2Option.option) }}
                                            <div id="optionValues">
                                                {#{{ dump(product2Option.optionValue) }}#}
                                                {{ form_widget(product2Option.optionValue) }}
                                            </div>
                                            <br>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <a class="addProduct2Options button button-success" href="#"><i class="uk-icon-plus"></i> {{ 'button.add_product_2_options'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="uk-form-row ">
                <a class="button button-success" href="#" id="addProductSet"><i class="uk-icon-plus"></i> {{ 'button.add_product_set'|trans }}</a>
            </div>
        {% endif %}

        <div>
            {{ form_row(form._token) }}
        </div>


        <button class="uk-button uk-button-primary uk-align-right" type="submit">
            <i class="uk-icon-check"></i>
            {{ 'button.save'|trans }}
        </button>
    </form>
{% endblock content  %}

{% block bottom_script %}
    <script>
        $(document).ready(function(){
            $('#{{ form.category.vars.id }}').change(function(){
                var form = $(this).closest('form'),
                    data = {"update": true};
                data[$(this).attr('name')] = $(this).val();

                $.ajax({
                    url    : form.attr('action'),
                    type   : form.attr('method'),
                    data   : data,
                    success: function (html) {
                        console.log(html);
                        {#form.find('#{{ form.vars.id }}_params').parents('div.uk-form-row').remove();#}
                        {#form.find('.channel-form-wrapper').append($(html).find('#{{ form.vars.id }}_params').parents('div.uk-form-row'));#}
                        {#form.find('#{{ form.vars.id }}_params').parents('div.uk-form-row').find('.chosen-select').chosen();#}
                        {#$.each($('.ajax-form'), function () {#}
                        {#AjaxForm.init(this)#}
                        {#});#}
                        {#$('#{{ form.vars.id }}_params_country select').change(changeCountry);#}
                        {#$('#{{ form.vars.id }}_params_county select').change(changeCounty);#}
                    }
                });


            });







            var delLink = function (e) {
                $(e.target).parent('div').remove();
//            saveField(links);
            };
            var valuesCount;

            $('.delete-btn').click(function(e){
                delLink(e);
            });

            $('#addProductSet').click(function (e) {
                e.preventDefault();
                valuesCount = $('#productSets').find('input.cnt').val()*1;
                var productSetList = $('#productSets'),
                    newWidget = productSetList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(productSetList);
                $(productSetList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//                if (!is_array($data) && !($data instanceof \Traversable && $data instanceof \ArrayAccess)) {
//            });
            });
            $('.addProduct2Options').click(function (e) {
                e.preventDefault();
                valuesCount = parseInt($(e.target).parent().siblings('#product2Options').find('input.cnt').val());
                var product2OptionList = $(e.target).parent().siblings('#product2Options'),
                    newWidget = product2OptionList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(product2OptionList);
                $(product2OptionList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//                if (!is_array($data) && !($data instanceof \Traversable && $data instanceof \ArrayAccess)) {
//            });
            });

            $('.addOptionValues').click(function (e) {
                e.preventDefault();
                valuesCount = parseInt($(e.target).parent().siblings('#product2Options').find('input.cnt').val());
                var product2OptionList = $(e.target).parent().siblings('#product2Options'),
                    newWidget = product2OptionList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, valuesCount);
                valuesCount++;
                var newDiv = $(newWidget).prepend("<span class='delete-btn'>X</span>");
                newDiv.addClass('tm-panel-border');
                newDiv.appendTo(product2OptionList);
                $(product2OptionList).find('.delete-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//                if (!is_array($data) && !($data instanceof \Traversable && $data instanceof \ArrayAccess)) {
//            });
            });

        });

//        $.each($('.ajax-form'), function () { AjaxForm.init(this) });
    </script>
{% endblock bottom_script %}