{% trans_default_domain 'general' %}
{% extends '::base.html.twig' %}

{% block content %}

    <div class="modal fade bs-example-modal-sm" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">Item was added into the cart!</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {#<h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                </div>
                <div class="modal-body item-info"></div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

    {{ block('categories') }}
    {{ block('cart') }}
    <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for item in items %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a href="{{ path('lokos_shop_item_detail', {'catId': catId, 'itemId': item.id}) }}"><img src="http://placehold.it/320x150" alt=""></a>
                        <div class="caption">
                            <h4 class="pull-right">${{ item.price }}</h4>
                            <h4><a href="{{ path('lokos_shop_item_detail', {'catId': catId, 'itemId': item.id}) }}">{{ item.name }}</a>
                            </h4>
                            <p>{{ item.description|raw }}</p>
                        </div>
                        <div>
                            <a class="btn btn-primary add-to-cart" data-item-id="{{ item.id }}" href="#">Add to cart</a>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <h2>Nothing to show</h2>
            {% endfor %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Like this template?</a>
                </h4>
                <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var addItem = function(){
            $('.add-item-to-cart').click(function(e){
                e.preventDefault();
                e.stopPropagation();
                var options = $('.item-options-block').find('select[data-item-option-id]'),
                    optionsItem = {},
                    cartItem = {},
                    optionNotChoosen = false;
                options.each(function(){
                    var optionId = $(this).val();
                    if (!optionId) {
                        alert('Choose an option '+ this.name);
                        optionNotChoosen = true;
                        return;
                    }
                    optionNotChoosen = false;
                    optionsItem[$(this).attr('data-item-option-id')] = $(this).val();
                });
                if (optionNotChoosen) {
                    return;
                }
                cartItem['id'] = $(this).attr('data-item-id');
                cartItem['quantity'] = $('[data-item-quantity]').val();
                cartItem['options'] = optionsItem;
                console.dir(cartItem);
                var obj = JSON.stringify(cartItem);
                $.ajax({
                    url: '{{ path('lokos_shop_add_to_cart') }}',
                    type: 'post',
                    data: { item: obj },
                    success: function(resp) {
                        if (resp) {
                            $('.cart-items-count').text(resp.total_quantity);
                            $('.cart-items-price').text(resp.total_price);
                            $('#myModal').modal('toggle');
                            setTimeout(function(){
                                $('#modal_success').modal('toggle');
                            },500);
                            setTimeout(function(){
                                $('#modal_success').modal('toggle');
                            },2000);

                        }
                    }
                });
            });
        };


        $('.add-to-cart').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            var url = '{{ path('lokos_shop_item_detail', {'catId':catId, 'itemId':'000'}) }}'.replace('000',$(this).attr('data-item-id'));
            $.ajax({
                url: url,
                type: 'post',
                success: function(resp) {
                    if (resp) {
                        $('.item-info').html(resp);
                        addItem();
                        $('#myModal').modal('toggle');
                    }
                }
            });
        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
{% endblock %}
