<!DOCTYPE html>
<html>
    <head>
        {% block head_meta %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {% endblock head_meta %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block styles %}
            {% stylesheets
            '@bootstrap_css'
            '@LokosShopBundle/Resources/public/css/style.css'
            '@LokosShopBundle/Resources/public/css/shop-homepage.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}

        {% endblock styles %}

        {% block head_styles %}{% endblock head_styles %}

        {% block head_scripts %}
            {% javascripts
            '@LokosShopBundle/Resources/public/js/jquery-2.1.4.js'
            '@LokosShopBundle/Resources/public/js/lodash.js'
            '@bootstrap_js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock head_scripts %}

        {#{% block page_script %}{% endblock page_script %}#}

        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock favicon %}

    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Start Bootstrap</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endblock nav %}
        <div class="container main">
            <!-- Navbar End -->
            <div class="row">
                {% block content %}
                    {% block categories %}
                        <div class="col-md-3">
                            <p class="lead">Shop Name</p>
                            {% if categories  is defined %}
                                {% for category in categories %}
                                    <a class="list-group-item" href="{{ path('lokos_shop_overview', {'id':category.id}) }}">{{ category.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endblock categories %}
                    {% block cart %}
                        <div class="cart">
                            <h3><a href="{{ path("lokos_shop_cart") }}">Cart</a></h3>
                            <span>Total items</span>: <p class="cart-items-count">{{ cartResume.total_quantity }}</p>
                            <span>Total price</span>: <p class="cart-items-price">$ {{ cartResume.total_price }}</p>
                        </div>
                    {% endblock cart %}

                {% endblock content %}
            </div>
        </div>
        {% block footer %}
            <div class="container">
                <hr>
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2016</p>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock footer %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>