<!DOCTYPE html>
<html>
    <head>
        {% block head_meta %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {% endblock head_meta %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block styles %}
            {% stylesheets
            '@bootstrap_css'
            '@LokosShopBundle/Resources/public/css/style.css'
            '@LokosShopBundle/Resources/public/css/shop-homepage.css'
            '@LokosShopBundle/Resources/public/css/chosen.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}

        {% endblock styles %}

        {% block head_styles %}{% endblock head_styles %}

        {% block head_scripts %}
            {% javascripts
            '@LokosShopBundle/Resources/public/js/jquery-2.1.4.js'
            '@LokosShopBundle/Resources/public/js/lodash.js'
            '@LokosShopBundle/Resources/public/js/chosen.jquery.js'
            '@bootstrap_js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock head_scripts %}

        {#{% block page_script %}{% endblock page_script %}#}

        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock favicon %}

    </head>
    <body>
        {% block nav %}
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">NavBar</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="https://github.com/fontenele/bootstrap-navbar-dropdowns" target="_blank">GitHub</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 1 <b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li><a href="#">Action [Menu 1.1]</a></li>
                                    <li><a href="#">Another action [Menu 1.1]</a></li>
                                    <li><a href="#">Something else here [Menu 1.1]</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link [Menu 1.1]</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link [Menu 1.1]</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 1.1] <b class="caret"></b></a>

                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action [Menu 1.2]</a></li>
                                            <li>
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 1.2] <b class="caret"></b></a>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 1.3] <b class="caret"></b></a>

                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Action [Menu 1.4]</a></li>
                                                            <li><a href="#">Another action [Menu 1.4]</a></li>
                                                            <li><a href="#">Something else here [Menu 1.4]</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Separated link [Menu 1.4]</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">One more separated link [Menu 1.4]</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 2 <b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li><a href="#">Action [Menu 2.1]</a></li>
                                    <li><a href="#">Another action [Menu 2.1]</a></li>
                                    <li><a href="#">Something else here [Menu 2.1]</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link [Menu 2.1]</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link [Menu 2.1]</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 2.1] <b class="caret"></b></a>

                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action [Menu 2.2]</a></li>
                                            <li><a href="#">Another action [Menu 2.2]</a></li>
                                            <li><a href="#">Something else here [Menu 2.2]</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link [Menu 2.2]</a></li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 2.2] <b class="caret"></b></a>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown [Menu 2.3] <b class="caret"></b></a>

                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Action [Menu 2.4]</a></li>
                                                            <li><a href="#">Another action [Menu 2.4]</a></li>
                                                            <li><a href="#">Something else here [Menu 2.4]</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Separated link [Menu 2.4]</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">One more separated link [Menu 2.4]</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        {% endblock nav %}

        {#{% block menu %}#}
            {#{{ knp_menu_render('LokosShopBundle:Builder:mainMenu', {'template': 'LokosShopBundle:Menu:main2.html.twig'}) }}#}
        {#{% endblock menu %}#}

        <div class="container main">
            <!-- Navbar End -->
            <div class="row">
                {% block content %}
                    {% block categories %}
                        <div class="col-md-3">
                            <p class="lead">Shop Name</p>
                            {% if categories  is defined %}
                                {% for category in categories %}
                                    <a class="list-group-item" href="{{ path('lokos_shop_overview', {'id':category.id}) }}">{{ category.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endblock categories %}
                    {% block cart %}
                        <div class="cart">
                            <h3><a href="{{ path("lokos_shop_cart") }}">Cart</a></h3>
                            <span>Total items</span>: <p class="cart-items-count">{{ cartResume.total_quantity }}</p>
                            <span>Total price</span>: <p class="cart-items-price">$ {{ cartResume.total_price }}</p>
                        </div>
                    {% endblock cart %}

                {% endblock content %}
            </div>
        </div>
        {% block footer %}
            <div class="container">
                <hr>
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2016</p>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock footer %}
        {% block javascripts %}
            {% javascripts
            '@LokosShopBundle/Resources/public/js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>