<!DOCTYPE html>
<html>
    <head>
        {% block head_meta %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {% endblock head_meta %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block styles %}
            {% stylesheets
            '@bootstrap_css'
            '@LokosShopBundle/Resources/public/css/style.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}

        {% endblock styles %}

        {% block head_styles %}{% endblock head_styles %}

        {% block head_scripts %}
            {% javascripts
            '@LokosShopBundle/Resources/public/js/jquery-2.1.4.js'
            '@bootstrap_js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock head_scripts %}

        {#{% block page_script %}{% endblock page_script %}#}

        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock favicon %}

    </head>
    <body>
        <div class="container">
            {% block nav %}
            {% endblock nav %}
            <!-- Navbar End -->
            <div class="wtap">
                {% block content %}
                    {% block categories %}
                        <div class="categories">
                            <ul>
                                <h3>Categories</h3>
                                {% if categories  is defined %}
                                    {% for category in categories %}
                                        <li><a href="{{ path('lokos_shop_overview', {'id':category.id}) }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endblock categories %}
                {% endblock content %}
            </div>
            {% block footer %}
            {% endblock footer %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>