{% extends 'LokosShopBundle::admin.layout.html.twig' %}
{% trans_default_domain 'general' %}

{% block content %}
    <form class="ajax-form" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-5-10">
                <h1>{{ title }}</h1>
            </div>
            <div class="uk-width-5-10">
                <button class="uk-button uk-button-primary uk-align-right" type="submit">
                    <i class="uk-icon-check"></i>
                    {{ 'button.save'|trans }}
                </button>
            </div>
        </div>
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.description.vars.id }}">{{ form.description.vars.label|trans }}</label>
            {{ form_widget(form.description) }}
        </div>
        <div class="uk-margin-bottom">
            <label class="uk-form-label" for="{{ form.name.vars.id }}">{{ form.name.vars.label|trans }}</label>
            {{ form_widget(form.category) }}
        </div>
        <div id="optionValues" class="uk-margin-large-bottom" data-prototype="{{ form_widget(form.optionValues.vars.prototype)|e }}">
            {% for optionValue in form.optionValues %}
                <div class="tm-panel-border">
                    <span class="delete-location-btn uk-close uk-close-alt">X</span>
                    {{ form_widget(optionValue) }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="uk-form-row ">
            <a class="uk-button uk-button-success" href="#" id="addOptionValue"><i class="uk-icon-plus"></i> {{ 'button.add_option_value'|trans() }}</a>
        </div>
        <div>
            {{ form_row(form._token) }}
        </div>
    </form>

    <script>
        var delLink = function (e) {
            $(e.target).parent('div').remove();
//            saveField(links);
        };
        var valuesCount = '{{ form.optionValues|length }}';
        $('#addOptionValue').click(function (e) {
            e.preventDefault();
            var optionValueList = $('#optionValues'),
                newWidget = optionValueList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, valuesCount);
            valuesCount++;
            var newDiv = $(newWidget).prepend("<span class='delete-location-btn uk-close uk-close-alt'>X</span>");
            newDiv.addClass('tm-panel-border');
            newDiv.appendTo(optionValueList);
            $(optionValueList).find('.delete-location-btn').click(delLink);
//            $.each($('.ajax-form'), function () {
//                AjaxForm.init(this)
//            });
        });
        $('.delete-location-btn').on('click', delLink);
    </script>
{% endblock content  %}