<div class="desc span_3_of_2 item-options-block">
    <h2>{{ item.name }} </h2>
    <p>{{ item.description }}</p>
    <div class="price">
        <p>Price: <span>${{ item.price }}</span></p>
    </div>
    {#{% if item.productSets is not empty %}#}
        <div class="available">
            <ul>
                <p>Available Options :</p>
                {#{% for option in item.options %}#}
                    {#<li>{{ option.name|capitalize }}:#}
                        {#<select name="{{ option.name }}"  data-item-option-id="{{ option.id }}">#}
                            {#<option value="">Choose an option</option>#}
                            {#{% for optionValue in option.optionValues %}#}
                                {#<option value="{{ optionValue.id }}">{{ optionValue.value|capitalize }}</option>#}
                            {#{% endfor %}#}
                        {#</select>#}
                    {#</li>#}
                {#{% endfor %}#}
                <li>Quality:
                    <select data-item-quantity>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </li>
            </ul>
        </div>
    {#{% endif %}#}
</div>