{% trans_default_domain 'general' %}
{% extends '::base.html.twig' %}

{% block content %}

    <div class="modal fade bs-example-modal-sm" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">Item was added into the cart!</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {#<h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                </div>
                <div class="modal-body item-info"></div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>





    <div class="wrap">
        {#{{ knp_menu_render('LokosShopBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'LokosShopBundle:Menu:main.html.twig'}) }}#}
        {{ block('categories') }}
        <div class="main">
            <div class="content">
                <div class="section group">
                    {% for item in items %}
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="{{ path('lokos_shop_item_detail', {'catId': catId, 'itemId': item.id}) }}"><img src="/bundles/lokosshop/images/feature-pic4.jpg" alt="" /></a>
                            <h2>{{ item.name }}</h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">${{ item.price }}</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a class="add-to-cart" data-item-id="{{ item.id }}" href="#">Add to Cart</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var addItem = function(){
            $('.add-item-to-cart').click(function(e){
                e.preventDefault();
                e.stopPropagation();
                var options = $('.item-options-block').find('select[data-item-option-id]'),
                    optionsItem = {},
                    cartItem = {},
                    optionNotChoosen = false;
                options.each(function(){
                    var optionId = $(this).val();
                    if (!optionId) {
                        alert('Choose an option '+ this.name);
                        optionNotChoosen = true;
                        return;
                    }
                    optionNotChoosen = false;
                    optionsItem[$(this).attr('data-item-option-id')] = $(this).val();
                });
                if (optionNotChoosen) {
                    return;
                }
                cartItem['id'] = $(this).attr('data-item-id');
                cartItem['quantity'] = $('[data-item-quantity]').val();
                cartItem['options'] = optionsItem;
                console.dir(cartItem);
                var obj = JSON.stringify(cartItem);
                $.ajax({
                    url: '{{ path('lokos_shop_add_to_cart') }}',
                    type: 'post',
                    data: { item: obj },
                    success: function(resp) {
                        if (resp) {
                            $('.cart-items-count').text(resp.total_quantity);
                            $('.cart-items-price').text(resp.total_price);
                            $('#myModal').modal('toggle');
                            setTimeout(function(){
                                $('#modal_success').modal('toggle');
                            },500);
                            setTimeout(function(){
                                $('#modal_success').modal('toggle');
                            },2000);

                        }
                    }
                });
            });
        };


        $('.add-to-cart').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            var url = '{{ path('lokos_shop_item_detail', {'catId':catId, 'itemId':'000'}) }}'.replace('000',$(this).attr('data-item-id'));
            $.ajax({
                url: url,
                type: 'post',
                success: function(resp) {
                    if (resp) {
                        $('.item-info').html(resp);
                        addItem();
                        $('#myModal').modal('toggle');
                    }
                }
            });
        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
{% endblock %}
